<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./scripts/web3.js"></script>
    <script src="./process/layout.process.js"></script>
    <link rel="stylesheet" href="./css/layout.css">
    <title>Dapp Init</title>
</head>
<body>
    <h2>CHÀO, BÁ NGUYỄN</h2>
    <br/>
    <button class="button-style" id="btnconnectMM">Kết nối</button>
    <br/>
    <br>
    <input id="inText" type="text" > 
    <input type="button" id="btnSet" value="Set">
    <br>
    <input id="btnGet" type="button" value="get">
    <br>
    <h2 id="showData"></h2>
</body>
</html>